@charset "UTF-8";

@font-face {
  font-family: "f5-prueba-tecnica";
  src:url("fonts/f5-prueba-tecnica.eot");
  src:url("fonts/f5-prueba-tecnica.eot?#iefix") format("embedded-opentype"),
    url("fonts/f5-prueba-tecnica.woff") format("woff"),
    url("fonts/f5-prueba-tecnica.ttf") format("truetype"),
    url("fonts/f5-prueba-tecnica.svg#f5-prueba-tecnica") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "f5-prueba-tecnica" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="f5-"]:before,
[class*=" f5-"]:before {
  font-family: "f5-prueba-tecnica" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.f5-trash:before {
  content: "\61";
}
.f5-pencil:before {
  content: "\62";
}
.f5-check:before {
  content: "\63";
}
.f5-arrow:before {
  content: "\64";
}
